# Resources required by the sample browser and most samples.
[Essential]
Zip=../bin/media/packs/SdkTrays.zip
Zip=../bin/media/packs/profiler.zip
FileSystem=../bin/media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=../bin/media/materials/programs
FileSystem=../bin/media/materials/programs/GLSL
FileSystem=../bin/media/materials/scripts
FileSystem=../bin/media/materials/textures
FileSystem=../bin/media/materials/textures/nvidia
FileSystem=../bin/media/models

[General]
FileSystem=../bin/media
